<div class="section pb-0 overflow-visible mt-5 position-relative" style="margin-bottom: -6.5rem; z-index: 2;">
    <div class="r-container bg-accent-color rounded-3">
        <div class="d-flex flex-lg-row flex-column">
            <div class="col px-3">
                <div
                    class="d-flex flex-column text-center text-lg-start align-items-center align-items-lg-start p-lg-5 px-3 pt-5 gap-4">
                    <h3 class="font-2 fw-semibold text-white">
                        Contact us and book your service
                    </h3>
                    <div>
                        <a href="contact.html" class="btn btn-white-accent px-5 py-3 fw-semibold mb-4">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section pb-0 bg-rocket-beige">
    <div class="r-container py-lg-5 pt-5 border-bottom">
        <div class="row row-cols-lg-3 row-cols-1 w-100 pt-5">
            <div class="col mb-3">
                <div class="d-flex flex-column gap-4">
                    <div class="container">
                        <img src="image/original/logo-rocket-paw.jpg" alt="" class="img-fluid" width="250">
                    </div>
                    <p class="text-gray">
                        We offer boarding, daycare, walks and drop-in visits for pets at our home near IKEA Vaughan. We welcome only one client at a time, ensuring your pet receives our full attention.
                    </p>
                </div>
            </div>
            <div class="col pt-lg-5 mb-3">
                <div class="row row-cols-lg-2 row-cols-1 h-100">
                    <div class="col mb-3">
                        <div class="d-flex flex-column gap-3">
                            <h5 class="fw-semibold border-bottom pb-2">Quick Links</h5>
                            <ul class="list gap-2">
                                <li>
                                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                                    <a href="" class="link">Home</a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                                    <a href="" class="link">Abot Us</a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                                    <a href="" class="link">Services</a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                                    <a href="" class="link">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="d-flex flex-column gap-3">
                            <h5 class="fw-semibold border-bottom pb-2">Information</h5>
                            <ul class="list gap-2">
                                <li>
                                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                                    <a href="" class="link">Privacy Policy</a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                                    <a href="" class="link">Term & Condition</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col pt-lg-5 px-lg-5 mb-3">
                <div class="d-flex flex-column gap-3">
                    <h5 class="fw-semibold border-bottom pb-2">Get In Touch</h5>
                    <ul class="list gap-2">
                        <li>
                            <i class="fa fa-location-dot"></i>
                            38 Honeycrisp Cres, Concord, ON L4K 0M8
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            (647) 745-9591
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            hello@domainsite.com
                        </li>
                    </ul>
                    <div class="social-container mb-lg-0 mb-3">
                        <a href="https://www.facebook.com" class="social-item">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://www.twitter.com" class="social-item">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com" class="social-item">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://www.youtube.com" class="social-item">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="r-container py-3">
        <div class="d-flex flex-lg-row flex-column gap-3 justify-content-between">
            <div class="d-flex flex-row gap-3 justify-content-center">
                <a href="" class="link text-gray">Privacy Policy</a>
                |
                <a href="" class="link text-gray">Term & Services</a>
            </div>
            <span class="text-gray text-center">
                Copyright © 2025 Rocket Paw. All Rights Reserved.
            </span>
        </div>
    </div>
</div>