<div class="border-bottom bg-rocket-beige sticky-top">
        <div class="r-container">
            <nav class="navbar navbar-expand-lg font-2">
                <div class="container-fluid">
                    <div class="logo-container">
                        <a class="navbar-brand" href="index.html">
                            <img src="./image/original/logo-rocket-paw.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-4">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Homepage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About Us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Pet Services
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="services.html">Services (View All)</a></li>
                                    <li><a class="dropdown-item" href="single_service.html">Boarding</a></li>
                                    <li><a class="dropdown-item" href="single_service.html">Daycare</a></li>
                                    <li><a class="dropdown-item" href="single_service.html">Drop-in Visits</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="pricing.html">
                                    Pricing
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                        <div>
                            <a href="" class="btn btn-accent px-4 py-3">
                                <i class="fa-solid fa-phone"></i>
                                (647) 745-9591</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>